.header{
    display: flex;
    min-width: 1000px;
    overflow: hidden;
    
    width: 100%;
    max-height: 90px;
    margin: 0px 0px 0px 0px;
    padding: 1;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.pre-navigation-wrapper{
    
    min-width: 800px;
    height:90%;
    width:90%;
    font-size: 100%;
    font-family: 'Glacial',Arial,Sans-Serif;
}
.pre-navigation{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
    height:35px;
    position: relative;
    background-color: rgb(238, 27, 36);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 5% 100%);
    align-items: center;
    justify-content: space-between;
}

.pre-navigation span {
    font-family: Impact, fantasy;
    font-size:20px;
}
.pre-navigation span:first-child{
    position: relative;
    left:50px;
}


i{
    padding: 5px;
    color: black;
}

