.reviews-page{
    
    background-image: url('./At-the-auto-service-870x483.jpg');
    overflow: hidden;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    
}
.reviews-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    padding: 5px;
}

.reviews{
    display: block;
    margin: 20px;
    padding: 10px;
    height: 100%;
    width: 90%;
}

.pagination {
    margin: 25px auto;
    width:200px;
    display: flex;
    justify-items: center;
    align-items: center;
    list-style: none;
    outline: none;
  }
  .pagination > .active > a{
    background-color: red;
    border-color: white ;
    color: black;
  }
  .pagination > li > a{
    border: 1px solid white ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: red;
    border-color: white;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: red
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }