.map-container{
    
    height: 500px;
    width: 80%;
    margin: 6px;
    padding: 10px;
    border-style: solid;
    border-color: rgb(189, 190, 192);
    border-width: 3px;
    position: relative;
    top:150px;
    left:125px;
}
.map{
    
    
    height: 500px;
    width: 100%;
}
