
.card{
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.8); 
   
    border: 10px solid #ffffff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 500px;
    height: 250px;
    padding: 20px;
    text-align: center;
  }
.card h2{
    letter-spacing: 4px;
    color: white;
    font-weight: bold;
    font-size: 35px;
    position: relative;
    bottom: 35px;
}
.card p{
    color: white;
    position: relative;
    bottom: 60px;
    font-size:25px;
}

.schedule-button{
    display: block;
    height: 40px;
    width: 120px;
    position: relative;
    bottom: 70px;
    left: 190px;
    background-color: black;
    font-size: 20px;
    text-decoration: none;
    font-family: sans-serif;
    border: 3px solid white;
    
}
.schedule-button a{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-family: sans-serif;
    color:white;

}
.schedule-button:hover{
    background-color: red;
    
}
.schedule-button a:hover{
    color:black;
    
}
.schedule-button span{
    position: relative;
    top:8px;
}

